.control {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
  gap: 10px;
  padding: 20px;
  color: #e3e3e3;
}

.charge_control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.control_button {
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
.control_button .title {
  display: flex;
  justify-content: center;
}
button {
  background-color: #2b2b2b;
  border: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}
.control_img {
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  transition: 0.2s;
  cursor: pointer;
}

/* 表示切替チェックボックス */
.display_control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #e3e3e3;
  user-select: none;
}

.checkbox {
  display: flex;
  margin: 2px;
  font-size: 17px;
  color: #e3e3e3;
  user-select: none;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

input[type="number"] {
  height: 20px;
  width: 80px;
  text-align: right;
  padding-right: 10px;
  font-size: 15px;
  color: #e3e3e3;
  background-color: #2b2b2b;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
}

/* スピンボタン非表示 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delete_button {
  margin-right: 30px;
  padding: 10px;
}

/* パラメータ編集領域 */
.parameter_editor {
  display: flex;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  color: #e3e3e3;
  user-select: none;
  font-size: 17px;
  padding: 5px 10px 5px 10px;
  gap: 2px;
}

.parameter_editor .editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parameter_editor .contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10px;
  color: #e3e3e3;
  user-select: none;
}

.parameter_editor .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

details > * {
  float: left;
}
summary {
  list-style: none;
}
/* safari */
summary::-webkit-details-marker {
  display: none;
}

.contents {
  display: flex;
  justify-content: center;
}
.contents label {
  /* 文字を右に寄せて入力欄を縦縦にそろえる */
  text-align: right;
}

.menu_control {
  margin-top: auto;
  margin-left: auto;
}